<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Report card mentor</title>
	<%- include('../partials/css_includes') %>
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="wrapper" ng-controller="myController">
		<div class="header">
			<div class="container-fluid">
				<div class="row">
					<%- include('../partials/header.ejs') %> 
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row page-body">
				<div class="body-sections">
					<div class="navigation row">
						<%- include('../partials/navigation.ejs') %>
					</div>
					<div class="report-card-view margin">
						<div class="section-head">
							<h2><img src="/css/images/vaibhav.png" />Ravindra Kasthala</h2>
							<div class="pull-right">
								<div class="peer-rating">
									<img src="/css/images/flag.png" />
									<span><strong> RED FLAG THIS</strong></span>
								</div>
							</div>
						</div>
						<div class="section-head">
							<h3><img src="/css/images/folder.png" />PAN CARD</h3>
						</div>
						<div class="row clearfix">
							<%- include('../components/problem_statement_view_more') %>
						</div>
						<div class="artifacts-body">
							<%- include('../components/graded_nongraded.ejs') %>
						</div>
					</div>	
				</div>
				<%- include('../components/expanded_reportcard') %>
				<%- include('../components/assign_task.ejs') %>
			</div>
		</div>
	</div>
	<%- include('../components/footer.ejs') %>

	<%- include('../partials/js_includes') %>
	<!-- Button trigger modal -->
	<script type="text/javascript">
		
		myApp.controller('myController', ['$scope', 'myProfile', function($scope, myProfile){

			/* myProfile is a service defined in ng-controller.js for get Profile data. */
			myProfile.getProfile("<%= user._id %>", function(data) {
				$scope.$apply(function () {
					$scope.profile = data;
				})
			});
			
			$scope.tooltip = function(){
				var left = $('.ui-slider-range').width();
				var total_left = $('#green').width();
				var rating = parseFloat(((left/total_left)*100)/20).toFixed(1);
				$scope.ratingvalue=rating;
				$('#grade_tooltip h4').text(rating);
			}

			$scope.getRating = function(){
				$scope.rating1 = $('.mentor-skill-grading-text h2').text();
			}
			
			$scope.left = $('.ui-slider-range').width();
			$scope.total_marks= $scope.total = 0;
		}]);
	</script>
</body>
</html>