<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Project Artifacts</title>
	<%- include('../partials/css_includes') %>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="wrapper" ng-app="myApp" ng-controller="myController">
	<div class="wrapper"  ng-controller="myController">
		<div class="header">
			<div class="container-fluid row">
				<div>
					<%- include('../partials/header.ejs') %> 
				</div>
			</div>
		</div>
		<div class="container-fluid clearfix" >
			<div class="row page-body">
				
				<div class="body-sections no-margin">
					<div class="extension-body">
						<div class="navigation">
							<%- include('../partials/navigation.ejs') %>
						</div>
						<div class="timelines-body">
							<div class="section-head margin">
								<h2><img src="/css/images/garbage.png" />Request For Extension</h2>
							</div>
							<div class="extension-form margin">
								<form>
									<div class="extend-form-dates">
										<input type="text" placeholder="Deadline date*" class="from" ng-model="deadline" ng-blur="validate($event,0)" ng-focus="removeClass($event)" />
									</div>
									<select ng-model="deadline_time" ng-blur="validate($event,0)" ng-focus="removeClass($event)">
										<option value="" disabled selected>hh.mm</option>
										<option>09.00</option>
										<option>09.15</option>
										<option>09.30</option>
										<option>09.45</option>
										<option>10.00</option>
										<option>10.15</option>
										<option>10.30</option>
										<option>10.45</option>
										<option>11.00</option>
										<option>11.15</option>
										<option>11.30</option>
										<option>11.45</option>
										<option>12.00</option>
										<option>12.15</option>
										<option>12.30</option>
										<option>12.45</option>
										<option>12.00</option>
										<option>13.15</option>
										<option>13.30</option>
										<option>13.45</option>
										<option>14.00</option>
										<option>14.15</option>
										<option>14.30</option>
										<option>14.45</option>
										<option>15.00</option>
										<option>15.15</option>
										<option>15.30</option>
										<option>15.45</option>
										<option>16.00</option>
										<option>16.15</option>
										<option>16.30</option>
										<option>16.45</option>
										<option>17.00</option>
										<option>17.15</option>
										<option>17.30</option>
										<option>17.45</option>
										<option>18.00</option>
									</select><br />
									<div class="extend-form-dates">
										<input type="text" placeholder="Extension*" class="to" readonly ng-model="extend" ng-blur="validate($event)" ng-focus="removeClass($event)" />
									</div>
									<select ng-model="extend_time" ng-blur="validate($event,0)" ng-focus="removeClass($event)">
										<option value="" disabled selected>hh.mm</option>
										<option>09.00</option>
										<option>09.15</option>
										<option>09.30</option>
										<option>09.45</option>
										<option>10.00</option>
										<option>10.15</option>
										<option>10.30</option>
										<option>10.45</option>
										<option>11.00</option>
										<option>11.15</option>
										<option>11.30</option>
										<option>11.45</option>
										<option>12.00</option>
										<option>12.15</option>
										<option>12.30</option>
										<option>12.45</option>
										<option>12.00</option>
										<option>13.15</option>
										<option>13.30</option>
										<option>13.45</option>
										<option>14.00</option>
										<option>14.15</option>
										<option>14.30</option>
										<option>14.45</option>
										<option>15.00</option>
										<option>15.15</option>
										<option>15.30</option>
										<option>15.45</option>
										<option>16.00</option>
										<option>16.15</option>
										<option>16.30</option>
										<option>16.45</option>
										<option>17.00</option>
										<option>17.15</option>
										<option>17.30</option>
										<option>17.45</option>
										<option>18.00</option>
									</select><br />
									<input type="number" placeholder="Initial No.of Working Hrs*" class="submission-date" ng-model="initial_hrs" ng-blur="validate($event,0)" ng-focus="removeClass($event)"/><br />
									<input type="number" placeholder="Extend No.of Working Hrs*" class="submission-date" ng-model="extend_hrs" ng-blur="validate($event,0)" ng-focus="removeClass($event)" /><br />
									<textarea placeholder="Why do you need extension* (500 letters minimum)" class="submission-date" ng-model="need" ng-blur="validate($event,500)" ng-focus="removeClass($event)"></textarea>
									<textarea placeholder="What Went wrong* (500 letters minimum)" ng-model="wrong" ng-blur="validate($event,500)" ng-focus="removeClass($event)"></textarea>
									<textarea placeholder="How can you fix it* (500 letters minimum)" ng-model="fix" ng-blur="validate($event,500)" ng-focus="removeClass($event)"></textarea>
									<textarea placeholder="How do you want us to help* (500 letters minimum)" ng-blur="validate($event,500)" ng-focus="removeClass($event)"></textarea>
									<button  ng-click="discardextension()" class="discard-button">Discard</button>
									<a href="/timelines_view">Cancel</a>
									<a href="/extend_timelines/123">Refresh</a>
									<a href="" ng-click="requestextension()">Request</a>
									<div class="clearfix"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Button trigger modal -->
	<%- include('../components/footer.ejs') %>
<%- include('../partials/js_includes') %>
<script>
	var myApp = angular.module('myApp', []);
	myApp.controller('myController', ['$scope', function($scope){
		$scope.notificationlist = {
						"list": [
								{
								  "image": "/css/images/user_male_circle.png",
								  "lastmessage": "Hi can you come online",
								  "time": "3 hrs ago"
								},
								{
								  "image": "/css/images/user_male_circle.png",
								  "lastmessage": "Will you review my flowcharts",
								  "time": "3 hrs ago"
								},
								{
								  "image": "/css/images/user_male_circle.png",
								  "lastmessage": "Hey lets meet in conference",
								  "time": "10 hrs ago"
								},
								{
								  "image": "/css/images/user_male_circle.png",
								  "lastmessage": "Your goal for the page is something not matched with the outcome",
								  "time": "2 minutes ago"
								},
								{
								  "image": "/css/images/user_male_circle.png",
								  "lastmessage": "Hi can you come online",
								  "time": "2 minutes ago"
								},
								{
								  "image": "/css/images/user_male_circle.png",
								  "lastmessage": "Hi can you come online",
								  "time": "2 minutes ago"
								}
					]
			}
		$scope.count=0;
		$scope.validate = function (event,letter_count) {

			if (!($(event.target).val()))	{
				$(event.target).addClass('error');
			} else if (letter_count == 500 && $(event.target).val().length < 500) {
				$(event.target).addClass('error');
			} else {
				$scope.count = $scope.count + 1;
			}
			console.log($scope.count);		
		}
		$scope.removeClass = function (event) {
			$(event.target).removeClass('error');
		}		
		$scope.requestextension = function () {
			location.href = '/timelines_view';
		}	
		$scope.discardextension = function () {
			location.href = '/timelines_view';
		}	
	}]);
	
</script>	
	
</body>
</html>
